<script setup>
import { useStyleStore } from '@/stores/style.js'
import { darkModeKey, styleKey } from '@/configs/config.js'

useHead({
  titleTemplate: (titleChunk) => {
    const titleBase = 'Admin One Vue 3 Tailwind'
    
    return titleChunk ? `${titleChunk} - ${titleBase}` : titleBase
  }
})

const styleStore = useStyleStore()

onMounted(() => {
  const currentStyle = typeof localStorage !== 'undefined' && localStorage[styleKey] 
  ? localStorage[styleKey]
  : 'white'

  console.log('currentStyle', currentStyle)
  styleStore.setStyle(currentStyle)

  const currentStoredDarkMode = typeof localStorage !== 'undefined' && localStorage[darkModeKey] === '1'

  console.log(currentStoredDarkMode)
  if ((!currentStoredDarkMode && typeof window !== 'undefined' && window.matchMedia('(prefers-color-scheme: dark)').matches) || currentStoredDarkMode) {
    styleStore.setDarkMode(false)
  }
})
</script>

<template>
  <div>
    <NuxtLayout>
      <NuxtPage/>
    </NuxtLayout>
  </div>
</template>