<script setup lang="ts">
import { mdiChartTimelineVariant, mdiCurrencyUsd, mdiDolly, mdiLabel, mdiTrashCan } from '@mdi/js'

definePageMeta({ layout: 'pos', middleware: ['auth'] })
type FormCreateProduct = {
    name: string,
    price?: number,
    image?: any,
    taxes: any[]
}

const { form, submit } = useForm<FormCreateProduct>('product', {
    name: '',
    price: undefined,
    image: undefined,
    taxes: [1]
})

const { $swal } = useNuxtApp()

const submitData = async () => {
    const result = await submit()

    if (result) {
        $swal.fire(
        'Successfully!',
        'You\'ve created to product!',
        'success'
        )
    }
}

const taxOptions =[
    {
        id: 1,
        label: 'Public Tax (5%)',
        taxPercentTag: 5
    },
    {
        id: 2,
        label: 'Specific Tax (10%)',
        taxPercentTag: 10
    },
    {
        id: 3,
        label: 'Accommodation Tax (2%)',
        taxPercentTag: 2
    },
    {
        id: 4,
        label: 'Tax on immovable property (0.1%)',
        taxPercentTag: 0.1
    },
    {
        id: 5,
        label: 'Tax on unused land (2%)',
        taxPercentTag: 0.1
    },
]
</script>
<template>
    <div class="h-full overflow-y-auto px-2">
        <pos-navbar title="Product">
            <template #action>

            </template>
        </pos-navbar>
        <div class="flex flex-col bg-gray-50 h-full w-full py-4 fix">
            <div class="w-full p-4">
                <SectionTitleLineWithButton :icon="mdiChartTimelineVariant" title="Create Product" main>
                </SectionTitleLineWithButton>
                <CardBox class="mb-6 border-r-0">
                    <div class="flex gap-6">
                        <div class="w-1/2">
                            <FormField label="Product Name">
                                <FormControl :icon="mdiLabel" v-model="form.name" />
                            </FormField>
                        </div>
                        <div class="w-1/2">
                            <FormField label="Product Price">
                                <FormControl v-model="form.price" :icon="mdiCurrencyUsd" />
                            </FormField>

                        </div>
                    </div>
                    <div class="flex gap-6">
                        <div class="w-1/2">
                            <FormField>
                                <FormFilePicker label="Product Image" v-model="form.image" color="cyan" />
                            </FormField>
                        </div>
                    </div>
                    <div  class="flex gap-6">
                        <div class="w-1/2">
                            <FormField label="Tax Type">
                                <div class="flex gap-6"  v-for="(tax, index) in form.taxes" :key="index">
                                    <FormControl
                                    v-model="form.taxes[index]"
                                    class="w-2/3 mb-6"
                                    type="select"
                                    :options="taxOptions"
                                    placeholder="Please select the tax"
                                    />
                                    <BaseButton color="danger" v-if="index !== form.taxes.length - 1"  :outline="true" class="mb-6 w-[50px]" :icon="mdiTrashCan" @click="form.taxes.splice(index, 1)" />
                                    <BaseButton color="cyan" v-if="index ==form.taxes.length - 1" class="mb-6" label="Add tax" @click="form.taxes.push(null)" />
                                </div>
                            </FormField>

                        </div>
                    </div>
                    <BaseButton type="submit" color="cyan" label="Submit" @click="submitData()" />
                </CardBox>
            </div>
        </div>
    </div>
</template>