<script setup lang="ts">
import { mdiDownload, mdiEye, mdiTrashCan } from '@mdi/js'
import { Product } from '~/types/Model';

definePageMeta({ layout: 'pos', middleware: ['auth'] })

const {
    list,
    loading,
    pagesList,
    remove,
    fetch
} = useTable<Product>('product', { take: 7 })
const { $swal } = useNuxtApp()

const deleteProduct = async (product: Product) => {
    
    const response = await $swal.fire({
        title: 'Are you sure to delete this product!',
        text: '',
        showCancelButton: true,
        confirmButtonText: 'Delete',
        confirmButtonColor: 'red',
        icon: 'question',
    })


    if (response.isConfirmed) {
        const result = await remove(product.id)
        $swal.fire(
        'Successfully deleted!',
        'You\'ve deleted your product',
        'success'
    )
    }
 
}

</script>
<template>
    <div class="h-full overflow-y-auto px-2">
        <pos-navbar title="Product">
            <template #action>
                <button type="button" @click="navigateTo('/product/create')"
                    class="text-white bg-cyan-700 hover:bg-cyan-800 focus:ring-4 focus:outline-none focus:ring-cyan-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-cyan-600 dark:hover:bg-cyan-700 dark:focus:ring-cyan-800">
                    Create Product</button>
            </template>
        </pos-navbar>
        <div class="flex flex-col bg-gray-50 h-full w-full py-4 fix">
            <div class="w-full p-4">
                <CardBox class="mb-6 border-r-0" has-table>
                    <table>
                        <thead class="sticky top-[90px] z-10 bg-white">
                            <tr>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <!-- <th>Receiver</th>
                    <th :style="{ textAlign: 'right', paddingRight: '10px' }">Total</th> -->
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="product in list?.data">
                                <td>
                                    <div class="w-full flex flex-row justify-center"> <img :src="product.image"
                                            :alt="product.name"
                                            class="rounded-full block h-auto  w-[100px] md:w-[50px] bg-gray-100 dark:bg-slate-800 object-cover" />
                                    </div>
                                </td>
                                <td>{{ product?.name }}</td>
                                <td>{{ product?.price }}</td>
                                <td class="before:hidden lg:w-1 whitespace-nowrap">
                                    <BaseButtons type="justify-start lg:justify-end" no-wrap>
                                        <BaseButton :icon="mdiEye" :to="`invoice/${product.id}`"></BaseButton>
                                        <BaseButton color="danger" :icon="mdiTrashCan" small
                                            @click="deleteProduct(product)" />
                                    </BaseButtons>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </CardBox>

                <div class="p-3 lg:px-6 border-t border-gray-100 dark:border-slate-800 sticky bottom-0 bg-white">
                    <BaseLevel>
                        <BaseButtons>
                            <BaseButton v-for="page in pagesList" :key="page" :active="page == list?.currentPage"
                                :label="page" :color="page == list?.currentPage ? 'lightDark' : 'whiteDark'" small
                                @click="fetch(page)" />
                        </BaseButtons>
                        <small>Page {{ list?.currentPage }} of {{ list?.lastPage }}</small>
                    </BaseLevel>
                </div>

            </div>
        </div>
    </div>
</template>