<script setup lang="ts">
import { mdiDownload } from '@mdi/js';
import moment from 'moment';
import { Invoice } from '~/types/Model'

definePageMeta({ layout: 'authenticated', middleware: ['auth'] })

type InvoiceResponse = {
    invoice: Invoice,
    qr: {
        image: string,
        qr: string
    }
}
const route = useRoute()
const { invoice, qr: { image }} = await $apiFetch<InvoiceResponse>(`/invoice/${route.params.slug[route.params.slug.length - 1]}`, {
    method: "get"
});

const downloadInvoice = (invoice: Invoice) => {
    window.open(invoice.downloadUrl);
}

const mapCurrency: any = {
    USD: '$'
}

</script>
<template>
    <SectionMain>
        <CardBox class="my-3">
            <div class=" flex flex-row justify-between">
                <h1>Invoice #{{ invoice.invoiceNumber }}</h1>
                <BaseButton @click="downloadInvoice(invoice)" :icon="mdiDownload"></BaseButton>
            </div>
        </CardBox>
        <CardBox class="mb-6" has-table>
            <div class="bg-white border rounded-lg shadow-lg px-6 py-8 max-w-md mx-auto mt-8">
                <h1 class="font-bold text-2xl my-4 text-center text-blue-600">{{ invoice.sender.name }} Services</h1>
                <hr class="mb-2">
                <div class="flex justify-between mb-6">
                    <h1 class="text-lg font-bold">Invoice</h1>
                    <div class="text-gray-700">
                        <div>Date: {{ moment(invoice?.createdAt).format('DD MMM YYYY') }}</div>
                        <div>Invoice: #{{ invoice.invoiceNumber }}</div>
                    </div>
                </div>
                <div class="mb-8">
                    <h2 class="text-lg font-bold mb-4">Bill To:</h2>
                    <div class="text-gray-700 mb-2">{{ invoice.receiver?.name }}</div>
                    <div class="text-gray-700">{{ invoice.receiver?.email }}</div>
                </div>
                <table class="w-full mb-8">
                    <thead>
                        <tr>
                            <th class="text-left font-bold text-gray-700">Product name</th>
                            <th class="text-right font-bold text-gray-700">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="invoiceItem in invoice.invoiceItems" :key="invoiceItem.id">
                            <td class="text-left text-gray-700">{{ invoiceItem.productName }}</td>
                            <td class="text-right text-gray-700">{{ mapCurrency?.[invoice.currency] || '' }} {{ invoiceItem.price }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-left font-bold text-gray-700">Total</td>
                            <td class="text-right font-bold text-gray-700">{{ mapCurrency?.[invoice.currency] }} {{ invoice.total }}</td>
                        </tr>
                    </tfoot>
                </table>
                <img :src="image" width="120"/>
                <div class="text-gray-700 mb-2">Thank you for your business!</div>
                <div class="text-gray-700 text-sm">Please remit payment within 30 days.</div>
            </div>
        </CardBox>
    </SectionMain>
</template>