<script setup lang="ts">
import { mdiChartTimelineVariant, mdiDownload, mdiEye } from '@mdi/js'
import { Invoice } from '~/types/Model';

definePageMeta({ layout: 'authenticated', middleware: ['auth'] })

const {
    list,
    loading,
    pagesList,
    fetch
} = useTable<Invoice>('invoice') 

const downloadInvoice = (invoice: Invoice) => {
    window.open(invoice.downloadUrl, "_blank");
}

</script>
<template>
    <SectionMain>
       
        <CardBox class="mb-6" has-table>
            <table>
                <thead>
                    <tr>
                        <th>Invoice Nubmer</th>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th :style="{textAlign: 'right', paddingRight: '10px' }">Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="invoice in list?.data">
                        <td>{{ invoice?.invoiceNumber }}</td>
                        <td>{{ invoice?.sender?.name }}</td>
                        <td>{{ invoice?.receiver?.name }}</td>
                        <td :style="{textAlign: 'right', paddingRight: '10px' }">${{ invoice?.total }}</td>
                        <td class="before:hidden lg:w-1 whitespace-nowrap">
                            <BaseButtons type="justify-start lg:justify-end" no-wrap>
                                <BaseButton @click="downloadInvoice(invoice)" :icon="mdiDownload"></BaseButton>
                                <BaseButton :icon="mdiEye" :to="`invoice/${invoice.id}`"></BaseButton>
                            </BaseButtons>
                        </td>
                    </tr>
                </tbody>
            </table>
        </CardBox>
        <div class="p-3 lg:px-6 border-t border-gray-100 dark:border-slate-800">
            <BaseLevel>
                <BaseButtons>
                    <BaseButton v-for="page in pagesList" :key="page" :active="page === list?.currentPage" :label="page"
                        :color="page === list?.currentPage ? 'lightDark' : 'whiteDark'" small @click="fetch(page)" />
                </BaseButtons>
                <small>Page {{ list?.currentPage }} of {{ list?.lastPage }}</small>
            </BaseLevel>
        </div>
        <!-- <CardBoxModal v-model="isModalActive" :title="activeInvoice?.title">
            <p>{{  activeInvoice?.content }}</p>
        </CardBoxModal> -->
    </SectionMain>
</template>