<script setup lang="ts">
import { mdiAccount, mdiAsterisk } from "@mdi/js";
import { LoginCredentials } from "~/composables/useAuth";

definePageMeta({ middleware: ["guest"] });
const router = useRouter();
const route = useRoute();
const { login } = useAuth();

const data: LoginCredentials = reactive({
  username: "",
  password: "",
  remember: false,
});

const status = ref(
  (route.query.reset ?? "").length > 0 ? atob(route.query.reset as string) : ""
);

const {
  submit,
  inProgress,
  validationErrors: errors,
} = useSubmit(
  () => {
    status.value = "";
    return login(data);
  },
  {
    onSuccess: () => {
      router.push(route.query.from?.toString() || '/dashboard')
    },
  }
);



const loginWithCamdigiKey = async () => {
  const { camdigkeyUrl } = useRuntimeConfig().public;

  const { data } = await fetch(`${camdigkeyUrl}/login-token`).then(res => res.json())
  const w = 600;
  const h= 500;
  window.location.href = data.loginUrl;
  // var left = (screen.width/2)-(w/2);
  // var top = (screen.height/2)-(h/2);
  // window.open(data.loginUrl,'popUpWindow',`height=${h},width=${w},left=${left},top=${top},resizable=yes, scrollbars=yes, titlebar=yes,location=yes,status=yes`);
}

// loginWithCamdigiKey()
</script>

<template>
  <div>
    <NuxtLayout>
      <SectionFullScreen v-slot="{ cardClass }" bg="purplePink">
        <CardBox :class="cardClass" is-form @submit.prevent="submit">
          <FormField label="Login" help="Please enter your login">
            <FormControl
              v-model="data.username"
              :icon="mdiAccount"
              name="username"
              autocomplete="username"
            />
          </FormField>

          <FormField label="Password" help="Please enter your password">
            <FormControl
              v-model="data.password"
              :icon="mdiAsterisk"
              type="password"
              name="password"
              autocomplete="current-password"
            />
          </FormField>

          <FormCheckRadio
            v-model="data.remember"
            name="remember"
            label="Remember"
            :input-value="true"
          />

        <template #footer>
          <BaseButtons>
            <BaseButton type="submit" color="info" label="Login" />
            <BaseButton to="/dashboard" color="info" outline label="Back" />
          </BaseButtons>
          <BaseButtons class="mt-3">
            <BaseButton color="info" class="w-100" label="Login with Camdigikey" @click="loginWithCamdigiKey()"/>
          </BaseButtons>
        </template>

      </CardBox>
    </SectionFullScreen>
  </NuxtLayout>
  </div>
</template>
